.planner-pc-register {
  height: 400px;
  overflow-y: auto;
  outline: none;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 20px;
  .planner-pc-register-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .planner-pc-register-header-title {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .planner-pc-register-header-title-name {
        display: flex;
        gap: 5px;
      }
      .planner-pc-register-header-title-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
      }
      .planner-pc-register-header-title-icon.open {
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
      }
    }
    .planner-pc-register-header-container {
      padding: 0 20px;
      visibility: hidden;
      max-height: 0;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      .planner-pc-register-header-example {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p.example {
          font-size: 14px;
        }
        p.validation {
          font-size: 14px;
          color: var(--basic-color);
        }
      }
      .planner-pc-register-header-text {
        position: relative;
        .planner-pc-register-header-textbox {
          width: 100%;
          padding: 10px 0;
          outline: none;
          border: 0px;
          border-bottom: 1px solid #ccc;
        }
        .planner-pc-register-header-title-detail {
          position: absolute;
          font-size: 12px;
          color: #ccc;
          right: 0;
          bottom: 5px;
        }
      }
    }

    .planner-pc-register-header-container.open {
      visibility: visible;
      max-height: 111px;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
  .planner-pc-register-plan {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .planner-pc-register-plan-title {
      display: flex;
      align-items: center;
      gap: 5px;
      .planner-pc-register-plan-title-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
      }
      .planner-pc-register-plan-title-icon.open {
        transform: rotate(90deg);
        transition: all 0.3s ease-in-out;
      }
      .planner-pc-register-plan-title-name {
        font-size: 14px;
      }
    }
    .planner-pc-register-plan-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 20px;

      visibility: hidden;
      max-height: 0;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      .planner-pc-register-plan-date-container {
        display: grid;
        grid-template-columns:
          1fr minmax(270px, 300px) 1fr minmax(270px, 300px) 1fr minmax(
            270px,
            300px
          )
          1fr minmax(270px, 300px);
        grid-template-rows: auto;
        grid-gap: 10px;
      }
    }
    .planner-pc-register-plan-container.open {
      visibility: visible;
      max-height: 400px;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
  .planner-pc-register-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 20px;
    .register-btn {
      box-sizing: border-box;
      width: 300px;
      border: none;
      border-radius: 10px;
      padding: 15px;
      transition: all 0.3s ease-in-out;
    }

    .register-btn-valid {
      box-sizing: border-box;
      width: 300px;
      border: none;
      border-radius: 10px;
      padding: 15px;
      background-color: var(--basic-color);
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
  }
}
