.planner-pc-places {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  padding-top: 10px;
  /* gap: 10px; */
  .planner-pc-places-place {
    box-sizing: border-box;
    width: 390px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .planner-pc-places-place-tags {
      font-size: 12px;
      margin-bottom: 10px;
      .planner-pc-places-place-tags-container {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 0px;

        .planner-pc-places-place-tags-tag {
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 5px;
          cursor: pointer;
        }

        .planner-pc-places-place-tags-tag.active {
          border: none;
          background-color: var(--basic-color);
          color: #fff;
        }
      }
    }
    .planner-pc-places-place-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 300px;
      padding-right: 5px;
    }
    .planner-pc-places-place-list.loading {
      opacity: 0.5;
    }
  }
  .planner-pc-places-selected {
    box-sizing: border-box;
    width: 390px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .planner-pc-places-selected-tags {
      font-size: 12px;
      margin-bottom: 10px;
      display: flex;
      gap: 10px;
      align-items: center;
      flex-wrap: wrap;

      .planner-pc-places-selected-tags-tag {
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
      }

      .planner-pc-places-selected-tags-tag.active {
        border: 1px solid var(--basic-color);
      }
      .planner-pc-places-selected-tags-tag.completed {
        border: none;
        background-color: var(--basic-color);
        color: #fff;
      }
    }

    .planner-pc-places-selected-list {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 15px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 325px;
    }
  }
}

.scroll {
  display: inline-block;
  width: 250px;
  height: 250px;
  padding: 20px;
  overflow-y: scroll;
  border: 1px solid black;
  box-sizing: border-box;
  color: white;
  font-family: "Nanum Gothic";
  background-color: rgba(0, 0, 0, 0.8);
}

/* 스크롤바 설정*/
.planner-pc-places-place-list::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 설정*/
.planner-pc-places-place-list::-webkit-scrollbar-thumb {
  background-color: var(--basic-color);
  /* 스크롤바 둥글게 설정    */
  /* border-radius: 10px; */
}

/* 스크롤바 뒷 배경 설정*/
.planner-pc-places-place-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
