.mypage-template {
  padding: 5px;

  .mypage-template-title {
    text-align: center;
  }
  .mypage-template-panels {
  }

  .mypage-template-main {
    margin-top: 5px;
  }

  .mypage-template-search {
  }
  .mypage-template-pagination {
  }
}
