.template-table {
  border: 1px solid #ccc;
  width: 100%;

  .template-table-head {
    .template-table-head-tr {
      .template-table-head-th {
        padding: 8px;
      }
    }
  }
  .template-table-body {
    .template-table-body-tr {
      .template-table-body-td {
        padding: 8px;
        text-align: center;
      }
    }
  }
}
