.mypage-template {
  padding: 5px;

  .mypage-template-title {
    text-align: center;
  }
  .mypage-template-panels {
  }

  .mypage-template-main {
    margin-top: 5px;
  }

  .mypage-template-search {
  }
  .mypage-template-pagination {
  }
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
