.planner-pc {
  position: relative;
  margin-top: 80px;
  .planner-pc-map {
    box-sizing: border-box;
    width: 100%;
    height: 85vw;

    border: 1px solid #ccc;
  }

  .planner-pc-choice {
    border: 1px solid #ccc;
  }
}
